/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto:wght@300;400&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Roboto:wght@300;400&family=Space+Mono:wght@400;700&display=swap');

/* Styling */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}

.container {
    width:100%;
    min-height: 100vh;
    padding-top: 40px;
    padding-left: 5.35%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

footer p a {
    text-decoration: none;
    color: #BDBDBD;
    font-weight: bold;
}
footer p {
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #BDBDBD;
}

.credits {
    margin: 24px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    padding-right: 119px;
}

.col-left {
    position: relative;
    padding-right: 10%;
    padding-bottom: 130px;
    flex-basis: 40%;
}

.col-left img {
    width: 539px;
}

.col-right {
    position: relative;
    flex-basis: 60%;    
}

.col-right * {
    font-family: Space Mono;
    letter-spacing: -0.035em;
}

.col-right h1 {
    font-weight: 700;
    line-height: 95px;
    font-size: 64px;
    color: #333333;
    width: 69%;
}

.col-right p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px; 
    color: #4F4F4F;
    padding-top: 36px;
    padding-bottom: 64px;
    width: 45%
}

button a {
    text-decoration: none;
    background: none;
    color: #fff;
}

button {
    font-weight: 700;  
    text-transform: uppercase;
    width: 216px;
    height: 68px;
    border: none;
    background: #333333;
}


/* Small screens */

@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        padding-right: 0;
        padding-top: 109px;
    }

    .col-left img {
        width: 90%;
    }

    .col-left {
        flex-basis: 100%;
        padding-right: 0;
        padding-bottom: 60px;
    }

    .col-right {
        flex-basis: 100%;
        align-items: center;
    }

    .col-right p {
        width: 70%
    }

    .col-right h1 {
        width: 80%
    }

    .credits {
        text-align: start;
        margin: 0;
        margin-top: 114px;
        margin-bottom: 10px;
    }
}
